@font-face {
  font-family: 'SM Pixxa';
  src: url('https://cdn.dethz.one/cdn/fonts/smpixxa/SMpixxa.woff') format('woff');
  src: url('https://cdn.dethz.one/cdn/fonts/smpixxa/SMpixxa.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E00–U+0E7F;
}